*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   

}
nav{
    
   border: 5px solid wheat;
   
    
    background-color: #0f1111;
    height: 60px;
    
}
.abc{
    margin: 100px;
}
.logo{
    font-size: 25px;
    margin-right: 72px;
}