*{
    margin: 25px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.abcde{
    
    text-decoration: none;
    font-size: 25px;
    background-color: #0f1111;
    height: 60px;
    
}