*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    

    
}
.container{
    max-width: 1280px;
    max-height: 64px;
    padding: 8px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  
   
    /* border: 2px solid goldenrod; */
    
    

}
.odin{
    text-wrap: nowrap;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;


}
.odin img{
    display: flex;
    
}
.subcontainer{
    margin-left: 250px;
    /* border: 2px solid green; */
    display: flex;
    max-width: 685.66px;
    
}
 .subcontainer ul{
    list-style: none;  
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.subcontainer ul li{
    margin: 1rem;
}
.subcontainer a{
    text-wrap: nowrap;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
.menu{
    display: none;
}
.topic{
    /* border: 2px solid blue; */
    
    text-align: center;
}
.topic h1{
    padding: 56px 32px 16px;
} 
.maxtopic{
    font-size: 60px;
}
.mintopic{
    font-size: 20px;
    font-weight: 400;
}
#howitworks{
    padding: 80px 32px;
  
    
}
.inner{
    display: flex;
    justify-content: center;
   
}
#howitworks h2{
    font-size: 30px;
    margin-bottom: 20px;
}
#howitworks p{
    max-width: 768px;
    font-size: 18px;
  /* border: 2px solid red; */
  padding: 0 55px 0 55px;
  font-weight: lighter;
    
}
.maxcontainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-weight: 100;
   
}
.flexmax{
    max-width: 341px;
    padding: 20px;
    /* border: 2px solid goldenrod; */
}
.maxi{
    margin: 32px 0 16px;
}
.maxi1{
    padding: 0 15px;
    /* border: 2px solid red; */
}
.ditto{
    background-color: aqua;
    border: 2px solid red;
    padding: 0 648px;
}

.maxchapter h2{
    text-align: center;
    padding: 0 0 48px;
    font-size: 30px;
}

.chapter{
    display: flex;
   
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    text-align: center;
    margin: 16px;
    padding: 24px 40px;

}
@media only screen and (max-width : 1024px){
    .odin p{
        width: auto;
        display: none;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media only screen and (max-width : 768px)
{
    .subcontainer{
      display: none;
    }
    .menu{
        display: contents;    
    }  
    nav{
        justify-content: space-between;
    }
    .maxcontainer{
        display: flex;
        justify-content: center;
       flex-direction: column;
       
    }   
}
@media only screen and (min-width : 427px) and (max-width :1891px){
    .maxchapter{
        /* pad: 0 686px; */
        border: 2px solid greenyellow;
    }
   

}