*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: blueviolet; */
 
}
nav{
    background-color: rgba(0, 0, 0, 0.526);
}
.table,th,td{
   
    border: 2px solid plum;
    width: 25px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 1rem;
}

#btn{
    border: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.219);
    color: black;
}