*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    background-color: black;
}
.subcontainer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    
}
