*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    background-color: black;
    position: sticky;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 236px;
}
.subcontainer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
   justify-content: space-between;
   width: 1024px;
   
    
}
.ribbon{
    background-color: #1c2739;
    height: 43.33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.p1{
    color: wheat;
    text-align: center;
    
}
.p2{
    color: #f39a45;
}


.bg-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    position: absolute;
    top: 12.5%;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
   
}
