*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.background
{
    position: fixed;
    top: 10px;
    right: 0;
    width: 60%;
    height: 82%;
    background-image: url("/anandu/practice5/images/imgs.jpg") ;
    background-size: contain;
    z-index: -1;
}
.p1{
    color: rgb(29, 29, 28);
}