:root{
    --primary-color : blue;
    --danger-color : red;
    --success-color : green;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80vw;
    height: 50vh;
    margin: auto;
    border: 2px solid red;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.box{
    width: 200px;
    height: 100px;
    background-color: blueviolet
    
}
#box1{
    background-color: var(--primary-color);
}
#box2{
    background-color: var(--danger-color);
}
#box3{
    background-color: var(--success-color);
}